<!-- HEADER -->
<div class="full layout">

    <div class="page page-center">

        <div class="topcoat-navigation-bar ">
            <div id="newTodo" class="topcoat-navigation-bar__item left quarter" ng-click="back()">
                <button class="topcoat-icon-button--quiet" />
                <span class="topcoat-icon icomatic">back</span>
            </div>

            <div class="topcoat-navigation-bar__item center half" ng-click="about()">About Us</h1>
        </div>

    </div>

    <div id="divToDo">

        <h3 class="topcoat-list__header">
            How to use the app:
            <ul>
                <li>Plus button to Add</li>
                <li>Swipe right to mark as Done</li>
                <li>Click on ToDo Item to Edit</li>                
                <li>Trash icon to clear all Tasks.</li>                
            </ul>
        </h3>


        <h3 class="topcoat-list__header">
            Developed by
            <span class="topcoat-notification">
                <a href="http://www.felipekm.com">Felipe Kautzmann</a></span>
        </h3> 
        
        <h3 class="topcoat-list__header">
            V0.2.2
        </h3>

    </div>   
</div>
