<div class="todo-form" ng-show="isAddMode()">
    <div id="divToDoTitle">
        <input id="txtToDoTitle" type="text" placeholder="Title" class="topcoat-text-input" maxlength="20" ng-focus="showRemaining('title')" ng-blur="showRemaining('title')"
               focusme="isAddMode()" ng-model="modelTodo.title" ng-enter="saveNewItem()"/>
        <p ng-show="isTitleRemainingVisible"><small class="chars-remaining">{{ -(modelTodo.title.length - 20) }} chars remaining..</small></p>
    </div>
    <div id="divToDo">
        <p><small class="chars-remaining" ng-show="isDescriptionRemainingVisible">{{ -(modelTodo.description.length - 200) }} chars remaining..</small></p>
        <textarea id="txtToDoDescription" class="topcoat-text-input" maxlength="200" type="text" rows="7" placeholder="Description" 
                  ng-model="modelTodo.description" ng-enter="saveNewItem()" ng-focus="showRemaining('description')" ng-blur="showRemaining('description')"></textarea>

    </div>
    </br>

</div>