<!-- HEADER -->
<div class="full layout">

    <div class="page page-center">

        <div class="topcoat-navigation-bar ">

            <div id="saveTodo" class="topcoat-navigation-bar__item left quarter" data-ng-click="back()">
                <button class="topcoat-icon-button--quiet" />
                <span class="topcoat-icon icomatic">save</span>
            </div>       

            <div class="topcoat-navigation-bar__item center half" ng-click="about()">Details</h1>

            <div id="newTodo" class="topcoat-navigation-bar__item left quarter" data-ng-click="back()">
                <button class="topcoat-icon-button--quiet" />
                <span class="topcoat-icon icomatic">cancel</span>
            </div>
        </div>

    </div>

    <div id="divToDo">

        <div>
            <input type="text" class="topcoat-text-input" value="" placeholder="Title">
        </div>
        <div>
            <textarea class="topcoat-textarea" rows="8" cols="12" placeholder="Description"></textarea>
        </div>
    </div>

</div>